body {
  background: #053300;
}

.controls {
  background:#fff;
  width:200px;
  height:50px;
  margin:10px auto;
}

.game-result {
  width:200px;
  height:50px;
  margin:0 auto;
}

.game-result h1 {
  color:#fff;
}

.game {
  width:700px;
  height:200px;
  margin:100px auto;
}

.card {
  float: left;
  border: solid 1px black;
  background-size:100px 140px;
  width: 100px;
  border-radius: 5px;
  height: 140px;
  margin:20px 20px 0 0;
}

.covered {
  background-image: url("../img/card-back.png");
}

.hand {
  overflow: auto;
}

h2{
  color:#fff;
}
